@font-face {
  font-family: "Gilory";
  src: url("../fonts/gilroylight.woff") format("woff"),
    url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilory";
  src: url("../fonts/gilroyextrabold.woff") format("woff"),
    url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff") format("woff"),
    url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensans.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.page {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.container {
  width: 1160px;
}

.hidden {
  display: none;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;
  background: #f7e296;
  padding: 44px 60px 165px;
}

.header-logo {
  position: absolute;
  top: -19px;
  left: 60px;
}

.container-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.search-form {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 30px;
  margin-top: -12px;
}

.search-input {
  border: none;
  width: 358px;
  height: 50px;
  vertical-align: middle;
  padding: 0 10px 0 38px;
  background: none;
  opacity: 0.3;
}

.search-input:hover {
  opacity: 0.6;
}

.search-input:focus {
  opacity: 1;
  border: 2px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
}

.search-input:focus + .search-button {
  display: block;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 3px;
  width: 16px;
  height: 16px;
  background: url("../img/search.svg");
}

.search-button {
  padding: 15px 20px;
  background: none;
  border: 2px solid #000000;
  display: none;
}

.search-button:hover {
  background: black;
  color: white;
}

.search-button:active {
  opacity: 0.3;
  background: black;
  color: white;
}

.catalog-button {
  display: block;
  padding-right: 40px;
  font-family: "Gilory", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  word-spacing: 5px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.container-nav-2 {
  margin-bottom: 37px;
}

.container-nav-2, .nav-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
}

.user-navigation a {
  padding-left: 45px;
  color: #000000;
}

.cart-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
}

.cart-list a {
  padding-left: 45px;
  color: #000000;
}

.cart-item {
  margin-left: 20px;

}

.nav-information {
  list-style: none;
  padding: 0;
  margin: 0;
}

.information-item {
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 18px;
}

.nav-information a{
  font-family: "Gilory", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  word-spacing: 5px;
  color: #000000;
  text-transform: uppercase;
  padding-left: 20px;
}

.information-item:nth-child(3n+2) {
  margin-right: auto;
  margin-left: 20px;
}

.menu-hover:hover,
.menu-hover:focus {
  opacity: 0.6;
}

.menu-hover:active {
  opacity: 0.3;
}

.user-navigation li,
.cart-item,
.information-item {
  position: relative;
}

.login-user::before {
  content: "";
  position: absolute;
  top: 10px ;
  left: 20px;
  width: 13px;
  height: 12px;
  background: url("../img/user.svg");
  background-repeat: no-repeat;
}

.compare::before {
  content: "";
  position: absolute;
  top: 10px ;
  left: 25px;
  width: 10px;
  height: 10px;
  background: url("../img/compare.svg");
  background-repeat: no-repeat;
}

.cart::before {
  content: "";
  position: absolute;
  top: 8px ;
  left: 22px;
  width: 12px;
  height: 12px;
  background: url("../img/cart.svg");
  background-repeat: no-repeat;
}

.container-for-relative {
  position: relative;
}

.container-for-catalog-button {
  position: absolute;
  background: black;
  height: 16px;
  width: 2px;
  top: 4px;
  right: 16px;
  opacity: 0.5;
}

.container-for-catalog-button::after {
  content: "";
  position: absolute;
  top: 7px ;
  left: -7px;
  width: 16px;
  height: 2px;
  background: black;
}

.catalog-list {
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0;
  top: 130px;
  background: #f7e296;
  list-style: none;
  padding: 0 500px 35px 60px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  width: 200px;
}

.catalog-link {
  color: black;
  font-family: inherit;
  font-size: 15px;
  line-height: 36px;
}
